/*  custom fonts    */

@font-face {
    font-family: "Pixel";
    src: url("fonts/PixelMaster.ttf") format("truetype");
}

/* to remove the top and left whitespace */

* {
    margin: 0;
    padding: 0;
}

/* just to be sure these are full screen*/

html,
body {
    font-family: "Tetris";
    width: 100%;
    height: 100%;
}

/* To remove the scrollbars */

#gameContainer {
    position: relative;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: rgb(10, 10, 10)
}

#hudCanvas {
    position: absolute;
    top: 720px;
    left: 0;
    display: block;
}